
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d5f1ef; 
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    
}

header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #18455d;
    align-items: center;
    padding: 10px;
    
}
.logo{
    display: flex;
    align-items: center;
}
 
.logo img{
  height: 50px;  
  margin-right: 10px;

}
nav li{
    list-style: none;
    display: inline-block;
}
nav a{
    
    font-weight: 600;
    padding-right: 80px;
    display: inline-block;
}
nav a:hover{
    color: azure;
}
.section{
    background-image: linear-gradient(100deg, #00000020, #00000020), url(../img/PanguiFOTO1.JPG);
    height: 40rem;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgb(0,0,0,0.50);

    
}

.content-section{
    max-width: 90rem;
    margin: 0 auto;
    padding: 3rem 30rem 0;

}

.content-section p{
    font-family: 'Times New Roman', Times, serif;
    color: white; 
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: justify;

}
.content-section span{
    font-family: 'Times New Roman', Times, serif;
    color: #eeeeee;
    font-size: 3.0rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 20 rem;
}

.section-titulo{
    text-align: center;
    font-size: 40px;
}
.destino-titulo{
    text-align: center;
}
.destinos{
    display: flex;
}

.destino-1{
width: 60%;
padding: 100px 250px 100px 100px;
background-color: #e39c6c;
text-align: justify;
}
.destino-2{
    background-image: url(../img/guismi5.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 6px;
    box-shadow: 0px 25px 45px rgb(0,0,0,0.50);  
    
    
}
.destino-3{
    background-image: url(../img/tundaymeparque.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    border-radius: 6px;
    box-shadow: 0px 25px 45px rgb(0,0,0,0.50);  
    
    
}
.destino-4{
    background-image: url(../img/pachicutza3.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    border-radius: 6px;
    box-shadow: 0px 25px 45px rgb(0,0,0,0.50);
    
}
.footer{
    background-color: black;
    padding: 30px;
    box-sizing: border-box;
 

}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    
   
}
.footer-links{
    width: 25%;
    padding: 0 15px;
    
    
}
.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block;
    
}
.footer-links ul li a{
    font-size: 15px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: ALL .3s ease;
  
}
.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 7px;

}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255,255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .5s ease;
    
}
.viñe{
    list-style-type: none; 
}
.social-link a:hover{
    background-color: #00c3ff;

}
.conteiner{
    max-width: 1900x;
    margin: 0 auto;
}

table{
   border-collapse: collapse; 
}
table thead{
    background-color: #6cc8f8;
    color: #ffffff;
.cabeza{
    font-style: italic;
    font-weight: 400;
}
}